/* @font-face {
  font-family: 'Splatter_Kings';
  src: url('Splatter_Kings.otf');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Splatter_Kings';
  color: white;
}

button {
  font-family: 'Splatter_Kings';
  color: white;
} */

body {
  font-family: 'Rubik Marker Hatch', cursive;
  font-style: normal;
  color: white;
}

.wallet-adapter-button {
  font-family: 'Goldman';
  color: white;
  font-size: 16px;
  height: 36px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: Goldman,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 36px;
  line-height: normal;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: 'Splatter_Kings';
  src: url('Splatter_Kings.otf');
  font-weight: 600;
  font-style: normal;
}

.footer {
  font-family: 'Splatter_Kings';
  color: white;
}

