/* @font-face {
  font-family: 'Splatter_Kings';
  src: url('Splatter_Kings.otf');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Splatter_Kings';
  color: white;
}

button {
  font-family: 'Splatter_Kings';
  color: white;
} */

body {
  font-family: 'Rubik Marker Hatch', cursive;
  font-style: normal;
  color: white;
}

button {
  font-family: 'Goldman';
  color: white;
}

@font-face {
  font-family: 'Splatter_Kings';
  src: url('Splatter_Kings.otf');
  font-weight: 600;
  font-style: normal;
}

.footer {
  font-family: 'Splatter_Kings';
  color: white;
}

